.partner{background: #fff;  margin-top: 4rem;  min-height: 10rem;color: #626262;}
.partner .jiange3{padding: 3rem 0;}
.partner .jiange1{padding-top: 1rem;}
.partner .gezi{border: 1px solid #e1dada;text-align: center;height: 3rem;line-height: 2.5rem;}